<!doctype html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <div class="navbar-nav justify-content-end">
        <nav class="navbar navbar-dark bg-dark">
            {% if "username" in session %}
            <a class="btn btn-lg btn-dark" href="#">
                <img src="/static/img/dr_2.jpg" width="32" height="32"
                     class="d-inline-block align-top" alt="">
                {{session['username']}}
            </a>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="btn btn-lg btn-dark" href="/game">Игра</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-lg btn-dark" href="/news">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-lg btn-dark" href="/custom">Кастомизация</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-lg btn-dark" href="/logout" role="button">Выйти</a>
                </li>
            </ul>

            {% endif %}
            {% if "username" not in session %}
            <a class="navbar-brand" href="/logout">Регистрация</a>
            {% endif %}
        </nav>
    </div>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>